<div class = "mainpart">
<p id="notice"><%= notice %></p>

<div class = "showpost">
<p>
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: "photo" %>
  <% end %>
</p>

<div class = "Title">
  <%= @post.title %>
</div>

<p>
  <strong>Author:</strong>
  <%= @post.writer %>
</p>
<br>
<div class = 'detailshow'>
  
  <%= @post.detail %>
</div>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Estimated price:</strong>
  <%= @post.estimated_price %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>